body {
    margin: 0;
}


.cheque-header {
    font-size: 2em;
    height: 10vh;
    width: 100%;
    text-align: center;
}

.cheque-input {
    height: 25vh;
    text-align: center;
}

form {
    padding-top: 4em;
}

form > input {
    font-size: 1.8em;
    border-radius: 7px;
    border: 0;
}

.cheque-result {
    height: 25vh;
    font-size: 2em;
    text-align: center;
    margin-top: 2em;
}

.cheque-result::first-letter {
    text-transform: uppercase;
}
